* {
  font-family: "Montserrat Alternates";
  font-weight: 400;
}

.container {
  width: 1090px;
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

main {
  background-image: url("../../images/bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}