html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  color: #000000;

  cursor: url("../images/cursor.webp"), auto;
}

.dark-mode {
  background-color: #000000;
  color: #ffffff;

  cursor: url("../images/dark-mode-cursor.webp"), auto;
}

.dark-mode .main {
  background-color: #171717;
  border-bottom: solid 2px #ffffff;
  border-top: solid 2px #ffffff;
  transition: all 900ms ease-in-out;
}

.dark-mode .main__box {
  background-color: #000000;
  border-left: solid 2px #FFF;
  border-right: solid 2px #FFF;
  transition: all 600ms ease-in-out;
}

.dark-mode .scroll {
  border: 3px solid #fff;
  background-color: #000;

  &__icon {
    fill: #fff;
  }
}

.dark-mode header {
  background-color: #000000;
  color: #ffffff;
  transition: all 300ms ease-in-out;
}

.dark-mode .football__modal-title {
  color: #000000;
}

.dark-mode .dino__modal-title {
  color: #000000;
}

.dark-mode .footer__modal-title {
  color: #000000;
}

.dark-mode a {
  color: #ffffff;
}

.dark-mode p {
  color: #ffffff;
}

.dark-mode p.calculator__output {
  color: #7e7e7e;
}

.dark-mode .header__logo-icon {
  stroke: #ffffff;
  fill: #000000;
  transition: all 1000ms ease-in-out;
}

.dark-mode .header__list-item {
  color: #ffffff;
}

.dark-mode .header__list-item-menu-arrow {
  stroke: #ffffff;
  fill: #000000;
  transition: all 800ms ease-in-out;
}

.dark-mode .footer__icon {
  stroke: #ffffff;
  fill: #000000;
}

.dark-mode .footer__button {
  border: solid 1px #ffffff;
}

.dark-mode h1 {
  color: #ffffff;
}

.dark-mode h2 {
  color: #ffffff;
}

.dark-mode .slider__icon {
  stroke: #ffffff;
  fill: #000000;
}

.dark-mode .header__theme-slider::before {
  border: solid 0.5px #ffffff;
}

.dark-mode .leap-year__search {
  border: solid 1px #ffffff;
}

.dark-mode .computer-number__search-bg {
  border: solid 1px #ffffff;
}

.dark-mode .rps__item {
  transition: all 3000ms ease-in-out;
}

.dark-mode .rps__item-score {
  background-color: #000;

  transition: all 3000ms ease-in-out;
}

.dark-mode .rps__btn {
  border: solid 1px #ffffff;

  &-choice {
    border: solid 1px #ffffff;
  }
}

.dark-mode .calculator__btn--equals {
  border: solid 1px #ffffff;
}

.dark-mode .calculator__btn {
  border: solid 1px #ffffff;
}

.dark-mode .time__button {
  border: solid 1px #ffffff;
}

.dark-mode .time__box::before {
  border-bottom: 1px dashed #ffffff;
}

.dark-mode .dino__game {
  background-color: #000000;
  border: 6px solid #ffffff;
}

.dark-mode .dino__play {
  background-image: url("../images/dark-mode-dinosaur.webp");
}

.dark-mode .dino__button {
  border: solid 1px #ffffff;
}

.dark-mode .dino__cactus {
  background-image: url("../images/dark-mode-cactus.webp");
}

.dark-mode .slider-btn {
  border-color: none;
}

.dark-mode .scientists__text {
  color: #000000;
}

.dark-mode .scientists__button {
  padding: 10px 19px;
  border: none;
  background-color: #000000;
  border: solid 1px #ffffff;
  color: #ffffff;
}

.dark-mode .dino__modal {
  background-color: #000000;
  border: solid 3px #ffffff;

  &-title {
    color: #ffffff;
  }

  &-icon {
    &:first-child {
      background-image: url(../images/dark-mode-sword.webp);
    }

    &:nth-child(2) {
      background-image: url(../images/dark-mode-puzzle.webp);
    }

    &:nth-child(3) {
      background-image: url(../images/dark-mode-console.webp);
    }

    &:last-child {
      background-image: url(../images/dark-mode-game.webp);
    }
  }

  &-cross {
    background-image: url(../images/dark-mode-icon-close.webp);
  }
}

.dark-mode .football__modal {
  background-color: #000000;
  border: solid 3px #ffffff;

  &-title {
    color: #ffffff;
  }

  &-icon {
    &:first-child {
      background-image: url(../images/dark-mode-sword.webp);
    }

    &:nth-child(2) {
      background-image: url(../images/dark-mode-puzzle.webp);
    }

    &:nth-child(3) {
      background-image: url(../images/dark-mode-console.webp);
    }

    &:last-child {
      background-image: url(../images/dark-mode-game.webp);
    }
  }

  &-cross {
    background-image: url(../images/dark-mode-icon-close.webp);
  }
}

.dark-mode .f__modal {
  width: 469px;

  background-color: #000000;
  border: solid 3px #ffffff;

  &-title {
    color: #ffffff;
  }

  &-icon {
    &:first-child {
      background-image: url(../images/dark-mode-sword.webp);
    }

    &:nth-child(2) {
      background-image: url(../images/dark-mode-puzzle.webp);
    }

    &:nth-child(3) {
      background-image: url(../images/dark-mode-console.webp);
    }

    &:last-child {
      background-image: url(../images/dark-mode-game.webp);
    }
  }

  &-cross {
    background-image: url(../images/dark-mode-icon-close.webp);
  }
}

.dark-mode .header__interactives-list {
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  top: 47px;
}

.dark-mode li {
  background-color: #000000;
}

.dark-mode li.header__interactives-item:hover {
  background-color: #131212;
}

.dark-mode section::after {
  background-color: #ffffff;
}

.dark-mode .scroll {
  border: 3px solid #fff;

  background-color: #000;

  &:hover {
    box-shadow: rgba(255, 255, 255, 0.6) 0px 3px 6px, rgba(255, 255, 255, 0.6) 0px 3px 6px;
  }
}

* {
  font-family: "Montserrat Alternates";
  font-weight: 400;
  box-sizing: border-box;
  
  &::selection {
    background-color: #000;
    color: #fff;

    .dark-mode & {
      background-color: #fff;
      color: #000;
    }
  }
}

.container {
  width: 1090px;
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.main {
  background-image: url("../images/bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-color: #EEE;
  transition: all 600ms ease-in-out;

  &__box {
    width: 1090px;
    margin: 0 auto;
    transition: all 400ms ease-in-out;

    background-color: #FFF;
  }
}