<section class="biggest-number">
    <div class="container">
        <h2 class="biggest-number__title">Введіть 3 числа</h2>
            <ul class="biggest-number__list">
                <li class="biggest-number__item"><input type="text" placeholder="Введіть число" class="biggest-number__input"></li>
                <li class="biggest-number__item"><input type="text" placeholder="Введіть число" class="biggest-number__input"></li>
                <li class="biggest-number__item"><input type="text" placeholder="Введіть число" class="biggest-number__input"></li>
            </ul>
            <p class="biggest-number__text">Найбільше числов яке, ви ввели - (число)</p>
    </div>
</section>