<section id="numerical" class="calculator">
  <div class="container">
    <h2 class="calculator__title">Калькулятор</h2>
    <div class="calculator__flex">
      <input
        type="text"
        class="calculator__input calculator__input--first"
        placeholder="Введіть число"
      />
      <ul class="calculator__list">
        <li class="calculator__item">
          <label for="calc-radio-1"></label>
          <input
            type="radio"
            name="operations"
            data-operation="+"
            class="calculator__radio"
            id="calc-radio-1"
          />
          <button class="calculator__btn" type="button">+</button>
        </li>
        <li class="calculator__item">
          <label for="calc-radio-2"></label>
          <input
            type="radio"
            name="operations"
            data-operation="*"
            class="calculator__radio"
            id="calc-radio-2"
          />
          <button class="calculator__btn" type="button">*</button>
        </li>
        <li class="calculator__item">
          <label for="calc-radio-3"></label>
          <input
            type="radio"
            name="operations"
            data-operation="-"
            class="calculator__radio"
            id="calc-radio-3"
          />
          <button class="calculator__btn" type="button">-</button>
        </li>
        <li class="calculator__item">
          <label for="calc-radio-4"></label>
          <input
            type="radio"
            name="operations"
            data-operation="/"
            class="calculator__radio"
            id="calc-radio-4"
          />
          <button class="calculator__btn" type="button">/</button>
        </li>
      </ul>
      <input
        type="text"
        class="calculator__input calculator__input--second"
        placeholder="Введіть число"
      />
      <button class="calculator__btn--equals" type="button">=</button>
      <p class="calculator__output">Результат</p>
    </div>
  </div>
</section>
