<section id="numerical" class="computer-number">
  <div class="container computer-number__container">
    <h2 class="computer-number__title">Вгадай число, яке загадав комп’ютер</h2>
    <div class="computer-number__flex">
      <div class="computer-number__input-shadow">
        <input
          type="text"
          placeholder="Введіть число"
          class="computer-number__input"
        />
        <button class="computer-number__search-bg">
           <svg class="computer-number__icon">
             <use href="./images/sprite.svg#search"></use>
           </svg>
        </button>
      </div>
      <p class="computer-number__text">Введіть число</p>
    </div>
  </div>
</section>
