<div class="dino__modal-backdrop backdrop is__hidden">
    <div class="dino__modal">
        <h2 class="dino__modal-title">Game Over!</h2>
        <div class="dino__modal-box">
            <div class="dino__modal-icon"></div>
            <div class="dino__modal-icon"></div>
            <div class="dino__modal-icon"></div>
            <div class="dino__modal-icon"></div>
        </div>
        <button type="submit" class="dino__modal-close">
            <div class="dino__modal-cross"></div>
        </button>
    </div>
</div>