<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Google Dinosaur Game</title>
    <link rel="stylesheet" href="./index.css" />
  </head>
  <body>
    <section class="dino">
      <h2 class="dino__title">Google динозавр</h2>
      <div class="dino__game" id="gameArea">
        <div class="dino__play" id="dino"></div>
        <div class="dino__cactus" id="cactus"></div>
        <button class="dino__button" id="startButton">Почати гру</button>
      </div>
    </section>

    <script type="module" src="./index.js"></script>
  </body>
</html>
