<section id="game" class="football">
    <div class="football__container container">
        <h2 class="football__title">
            Футбол
            <span>
                <button class="football__info-button" type="button">
                    <div class="football__info-button-icon"></div>
                </button>
                <div class="football__info-box">
                    <p class="football__info-text">Щоб розпочати гру, натисніть на будь-яке місце у межах поля:</p>
                </div>
            </span>
        </h2>
        <ul class="football__buttons-list">
            <li class="football__buttons-item">
                <button class="football__button" id="game-mode-button" type="button">Режими гри</button>
            </li>
            <li class="football__buttons-item">
                <button class="football__button" id="instruction-button" type="button">Інструкція</button>
            </li>
        </ul>
        <div class="football__stadium">
            <p class="score">0</p>
            <p class="football__stadium-time"><span class="time-minutes">00</span> : <span class="time-seconds">00</span></p>
            <img class="football__stadium-ball" src="./images/football-ball.webp" alt="Ball">
            <img class="football__stadium-gates" src="./images/football-gates.webp" alt="Football Arch">
        </div>
        <div class="football__line"></div>
    </div>
</section>