<!-- fw = football-win -->
<div class="fw__modal-backdrop backdrop is__hidden">
    <div class="fw__modal">
        <h2 class="fw__modal-title">Ви виграли!</h2>
        <p id="match-info" class="match-info">
            Голів забито за матч: <span class="goal-quantity"></span>.
        </p>
        <div class="fw__modal-box">
            <div class="fw__modal-icon"></div>
            <div class="fw__modal-icon"></div>
            <div class="fw__modal-icon"></div>
            <div class="fw__modal-icon"></div>
        </div>
        <button type="submit" class="fw__modal-close">
            <div class="fw__modal-cross"></div>
        </button>
    </div>
</div>