<!-- fl = football-lose -->
<div class="fl__modal-backdrop backdrop is__hidden">
    <div class="fl__modal">
        <h2 class="fl__modal-title">Ви програли!</h2>
        <p id="match-info" class="match-info">
            Голів забито за матч: <span class="goal-quantity"></span>.
        </p>
        <div class="fl__modal-box">
            <div class="fl__modal-icon"></div>
            <div class="fl__modal-icon"></div>
            <div class="fl__modal-icon"></div>
            <div class="fl__modal-icon"></div>
        </div>
        <button type="submit" class="fl__modal-close">
            <div class="fl__modal-cross"></div>
        </button>
    </div>
</div>