<div class="football__modal-backdrop backdrop modal-hidden">
    <div class="football__modal">
        <h2 class="football__modal-title">ГООО000Л!!!</h2>
        <p id="goal-info" class="goal-info">
            Гравець <span id="goal-player"></span> забив свій <span class="goal-quantity"></span> гол на <span id="goal-minutes"></span><span id="goal-seconds"></span>
        </p>
        <div class="football__modal-box">
            <div class="football__modal-icon"></div>
            <div class="football__modal-icon"></div>
            <div class="football__modal-icon"></div>
            <div class="football__modal-icon"></div>
        </div>
        <button type="submit" class="football__modal-close">
            <div class="football__modal-cross"></div>
        </button>
    </div>
</div>
