<div class="backdrop">
    <div class="footer-modal">
        <div class="f-modal_div">
            <svg class="f-modal_icon"></svg>
            <svg class="f-modal_icon"></svg>
        </div>
        <h2 class="f-modal_title">Дякую за підписку!</h2>
        <div class="f-modal_box">
            <svg class="f-modal_icon"></svg>
            <svg class="f-modal_icon"></svg>
        </div>
        <button class="f-modal_exit">
            <svg class="f-modal_close"></svg>
        </button>
        
    </div>
</div>