<!-- fi = football-instruction -->
<div class="fi__modal-backdrop backdrop is__hidden">
  <div class="fi__modal">
    <h2 class="fi__modal-title">Інструкція</h2>
    <div class="fi__modal-line"></div>
    <div class="fi__modal-box">
      <p class="fi__modal-text fi__modal-text1">
        Футбол - це міні-гра в якій є три режими для веселого проведення часу.
      </p>
      <p class="fi__modal-text fi__modal-text2">Три режими поділяються на:</p>
      <p class="fi__modal-text fi__modal-text3">
        Вільний режим: Це як тренувальне поле, де ти можеш грати скільки
        завгодно, відпрацьовуючи різні удари та обводки. Тут немає обмежень за
        часом.
      </p>
      <p class="fi__modal-text fi__modal-text4">
        Класичний режим: Це більш звичний режим, де гра починається автоматично.
        Тут ти граєш за певними правилами, як у звичайному футбольному матчі.
      </p>
      <p class="fi__modal-text fi__modal-text4">
        Хардкор режим: Для справжніх любителів футболу! Тут тобі доведеться
        показати всю свою майстерність, адже за одну хвилину потрібно забити аж
        30 голів!
      </p>
      <p class="fi__modal-text fi__modal-text5">
        Для керування, натискайте ліву кнопку миші на стадіоні і м'яч покотиться
        до курсору.
      </p>
      <p class="fi__modal-text fi__modal-text6">
        Головна мета у футболі – забити м’яч у ворота і точно влучити у ворота.
      </p>
      <p class="fi__modal-text fi__modal-text7">
        Чим більше ви граєте, тим кращим стаєте. Спробуйте різні прийоми та
        комбінації. Не бійтесь пробувати нові речі. Можливо, ви знайдете свій
        унікальний стиль гри.
      </p>
      <p class="fi__modal-text fi__modal-text8">
        Головне – отримуйте задоволення від процесу! Футбол – це чудова гра, яка
        допомагає розвивати координацію та швидкість реакції.
      </p>
    </div>
    <div class="fi__modal-icons">
        <div class="fi__modal-icon"></div>
        <div class="fi__modal-icon"></div>
        <div class="fi__modal-icon"></div>
        <div class="fi__modal-icon"></div>
        <div class="fi__modal-icon"></div>
        <div class="fi__modal-icon"></div>
    </div>
    <button type="submit" class="fi__modal-close">
      <div class="fi__modal-cross"></div>
    </button>
  </div>
</div>
