<section class="footer">
    <svg class="footer-logo"></svg>
    <ul class="footer-list">
        <li class="footer-item">
            <p class="footer-text">Тел: +38 (123) 456 78 90</p>
        </li>
        <li class="footer-item">
            <p class="footer-text">E-Mail: codingmagic@gmail.com</p>
        </li>
        <li class="footer-item">
            <p class="footer-text">Facebook: CodingMagic</p>
        </li>
        <li class="footer-item">
            <p class="footer-text">Twitter: CodingMagic</p>
        </li>
        <li class="footer-item">
            <p class="footer-text">Instagram: CodingMagic</p>
        </li>
    </ul>
    <form action="" class="footer-form">
        <input type="email" name="footer-input" id="footer-input" placeholder="Ваша ел. адреса..." class="footer-input">
        <button type="submit" class="footer-button" >Підписатись</button>
        <p class="footer-confidential">*Підписавшись, Ви зможете ортимувати інформаццію про новинки на сайті</p>
    </form>
</section>