<div class="backdrop is__hidden">
    <div class="f__modal">
        
        <h2 class="f__modal-title">Дякую за підписку!</h2>
        <div class="f__modal-box">
            <svg class="f__modal-icon">
                <use href="./"></use>
            </svg>
            <svg class="f__modal-icon">
                <use href=""></use>
            </svg>
            <svg class="f__modal-icon">
                <use href=""></use>
            </svg>
            <svg class="f__modal-icon">
                <use href=""></use>
            </svg>
        </div>
        <button type="submit" class="s__modal-close">
            <svg class="s__modal-cross">
                <use href=""></use>
            </svg>
        </button>
        
    </div>
</div>