<section class="football">
    <div class="football__container container">
        <h2 class="football__title">
            Футбол
        </h2>
        <div class="football__stadium">
            <img class="football__stadium-ball" src="../images/football-ball.webp" alt="Ball">
            <svg class="football__stadium-cursor">
                <use class="football__stadium-cursor-icon" href="../images/sprite.svg#football-cursor"></use>
            </svg>
        </div>
        <div class="football__line"></div>
    </div>
</section>