<!-- fm = football-modes -->
<div class="fm__modal-backdrop backdrop is__hidden">
    <div class="fm__modal">
        <h2 class="fm__modal-title">Режими гри:</h2>
        <button type="submit" class="fm__modal-close">
            <div class="fm__modal-cross"></div>
        </button>
        <ul class="fm__modal-list">
            <li class="fm__modal-item">
                <h3 class="fm__modal-item-title">Вільна гра</h3>
                <div class="fm__modal-item-box">
                    <div id="free-game-mode-icon" class="fm__modal-item-icon"></div>
                    <div class="confirm__modal-backdrop backdrop is__hidden" id="confirm-free-game-mode">
                        <div class="confirm__modal">
                            <h2 class="confirm__modal-title">Ви справді хочете зіграти в такий режим, як "Вільна гра"?</h2>
                            <div class="confirm__modal-box">
                                <button class="confirm__modal-button confirm__modal-free-game-no" type="button">Ні</button>
                                <button class="confirm__modal-button confirm__modal-free-game-yes" type="button">Так</button>
                            </div>
                        </div>
                    </div>
                    <div class="fm__modal-item-text">
                        <p class="fm__modal-item-text-title">Опис</p>
                        <p class="fm__modal-item-text-paragraph">Тут ви можете грати скільки хочете і бали не будуть впливати ні на що. Проте тут ви не отримаєте нагороди.</p>
                    </div>
                </div>
                <button class="fm__modal-item-button" id="free-game-mode" type="button">Грати</button>
            </li>
            <li class="fm__modal-item">
                <h3 class="fm__modal-item-title">Класична гра</h3>
                <div class="fm__modal-item-box">
                    <div id="classic-game-mode-icon" class="fm__modal-item-icon"></div>
                    <div class="confirm__modal-backdrop backdrop is__hidden" id="confirm-classic-game-mode">
                        <div class="confirm__modal">
                            <h2 class="confirm__modal-title">Ви справді хочете зіграти в такий режим, як "Класична гра"?</h2>
                            <div class="confirm__modal-box">
                                <button class="confirm__modal-button confirm__modal-classic-game-no" type="button">Ні</button>
                                <button class="confirm__modal-button confirm__modal-classic-game-yes" type="button">Так</button>
                            </div>
                        </div>
                    </div>
                    <div class="fm__modal-item-text">
                        <p class="fm__modal-item-text-title">Опис</p>
                        <p class="fm__modal-item-text-paragraph">Це звичайний режим без приколів. Тут ви можете отримати багато нагород, але час буде іти без кінця.</p>
                    </div>
                </div>
                <button class="fm__modal-item-button" id="classic-game-mode" type="button">Грати</button>
            </li>
            <li class="fm__modal-item">
                <h3 class="fm__modal-item-title">Хардкор</h3>
                <div class="fm__modal-item-box">
                    <div id="hard-game-mode-icon" class="fm__modal-item-icon"></div>
                    <div class="confirm__modal-backdrop backdrop is__hidden" id="confirm-hard-game-mode">
                        <div class="confirm__modal">
                            <h2 class="confirm__modal-title">Ви справді хочете зіграти в такий режим, як "Хардкор"?</h2>
                            <div class="confirm__modal-box">
                                <button class="confirm__modal-button confirm__modal-hard-game-no" type="button">Ні</button>
                                <button class="confirm__modal-button confirm__modal-hard-game-yes" type="button">Так</button>
                            </div>
                        </div>
                    </div>
                    <div class="fm__modal-item-text">
                        <p class="fm__modal-item-text-title">Опис</p>
                        <p class="fm__modal-item-text-paragraph">Найважчий режим у футболі, тут потрібно забити 30 голів за 1 хвилину.</p>
                    </div>
                </div>
                <button class="fm__modal-item-button" id="hard-game-mode" type="button">Грати</button>
            </li>
        </ul>
    </div>
</div>