<div class="football__modal-backdrop backdrop is__hidden">
    <div class="football__modal">
        <h2 class="football__modal-title">ГООО000Л!!!</h2>
        <div class="football__modal-box">
            <img class="football__modal-icon" src="../images/sword.webp" alt="">
            <img class="football__modal-icon" src="../images/puzzle.webp" alt="">
            <img class="football__modal-icon" src="../images/console.webp" alt="">
            <img class="football__modal-icon" src="../images/game.webp" alt="">
        </div>
        <button type="submit" class="football__modal-close">
            <svg class="s__modal-cross">
                <use href="../images/sprite.svg#icon-close"></use>
            </svg>
        </button>
    </div>
</div>