<div class="f__modal-backdrop backdrop is__hidden">
    <div class="f__modal">
        
        <h2 class="f__modal-title">Дякую за підписку!</h2>
        <div class="f__modal-box">
            <img class="f__modal-icon" src="../images/sword.webp" alt="">
            <img class="f__modal-icon" src="../images/puzzle.webp" alt="">
            <img class="f__modal-icon" src="../images/console.webp" alt="">
            <img class="f__modal-icon" src="../images/game.webp" alt="">
        </div>
        <button type="submit" class="f__modal-close">
            <svg class="s__modal-cross">
                <use href="../images/sprite.svg#icon-close"></use>
            </svg>
        </button>
        
    </div>
</div>