<div class="go__modal-backdrop backdrop is__hidden">
    <div class="go__modal">
        
        <h2 class="go__modal-title">Ви програли!</h2>
        <div class="go__modal-box">
            <img class="go__modal-icon" src="../images/sword.webp" alt="">
            <img class="go__modal-icon" src="../images/puzzle.webp" alt="">
            <img class="go__modal-icon" src="../images/console.webp" alt="">
            <img class="go__modal-icon" src="../images/game.webp" alt="">
        </div>
        <button type="submit" class="go__modal-close">
            <svg class="s__modal-cross">
                <use href="../images/sprite.svg#icon-close"></use>
            </svg>
        </button>
        
    </div>
</div>