<header class="header">
    <div class="header__navigation">
        <a class="header__logo" href="#">
            <!-- TODO: Тут буде svg -->
            <p class="header__logo-first-title">Coding</p>
            <p class="header__logo-first-title">Magic</p>
        </a>
        <ul class="header__list">
            <li class="header__list-item">
                <a href="#">Інтерактив</a>
            </li>
            <li class="header__list-item">
                <a href="#">Наша команда</a>
            </li>
            <li class="header__list-item">
               <a href="#">Контакти</a>
            </li>
        </ul>
        <button class="header__theme-changer">
            <div class="header__theme-changer-circle">
                <!-- TODO: Тут буде svg -->
                <div class="header__theme-changer-icon"></div>
            </div>
        </button>
        <p class="header__greeting">Вітаємо, <span class="header__greeting-user-name">User</span>!</p>
    </div>
</header>

