<header class="header">
  <nav class="header__navigation">
    <a class="header__logo" href="#">
      <svg class="header__logo-icon">
        <use href="../images/sprite.svg#site-logo"></use>
      </svg>
      <div class="header__logo-titles">
        <p class="header__logo-first-title">Coding</p>
        <p class="header__logo-second-title">Magic</p>
      </div>
    </a>
    <ul class="header__list">
      <li class="header__list-item">
        <a class="header__list-item-link" href="#">
          <span>Інтерактив</span>
          <svg class="header__list-item-menu-arrow">
            <use href="../images/sprite.svg#menu-arrow"></use>
          </svg>
        </a>
      </li>
      <li class="header__list-item">
        <a class="header__list-item-link" href="#">Наша команда</a>
      </li>
      <li class="header__list-item">
        <a class="header__list-item-link" href="#">Контакти</a>
      </li>
    </ul>
    <label class="header__theme">
        <input class="header__theme-changer" type="checkbox"></input>
        <span class="header__theme-slider"></span>
    </label>
    <p class="header__greeting">
      Вітаємо, <span><span class="header__greeting-user-name">User</span>!</span>
    </p>
  </nav>
</header>
