<section id="numerical" class="leap-year">
  <div class="container">
    <h2 class="leap-year__title">Перевір в який рік ти народився</h2>
    <div class="leap-year__box">
      <div class="leap-year__input-button">
        <input
          type="text"
          placeholder="Введіть рік народження"
          class="leap-year__input"
        />
        <button class="leap-year__search" type="button">
          <svg class="leap-year__svg">
            <use href="../images/sprite.svg#search"></use>
          </svg>
        </button>
      </div>
      <p class="leap-year__text">Введіть свій рік народження</p>
    </div>
  </div>
</section>
