<section class="rps">
    <h2 class="rps__title">Кмінь - ножиці - папір</h2>
    <ul class="rps__list">
        <li class="rps__item"><img class="rps__item-rock" alt="rock"></li>
        <li class="rps__item"><img class="rps__item-paper" src="" alt="paper"></li>
        <li class="rps__item"><img class="rps__item-scissors" src="" alt="scissors"></li>
    </ul>
    <ul class="rps__list-score">
        <li class="rps__item">Рахунок:</li>
        <li class="rps__item">Комп'ютер - 0</li>
        <li class="rps__item">Ви - 0</li>
    </ul>
    <p class="rps__text-win">Ви виграли раунд!</p>
    <button type="button" class="rps__btn">Варіант комп'ютера</button>
</section>