<section class="rps">
    <div class="container rps-container">
    <h2 class="rps__title">Камінь - ножиці - папір</h2>
    <div class="rps__list-box">
    <ul class="rps__list">
        <li class="rps__item"><img class="rps__item-rock" alt="rock"></li>
        <li class="rps__item"><img class="rps__item-paper" src="" alt="paper"></li>
        <li class="rps__item"><img class="rps__item-scissors" src="" alt="scissors"></li>
    </ul>
    <ul class="rps__list-score">
        <li class="rps__item-score"><p class="rps__item-text">Рахунок:</p></li>
        <li class="rps__item-score"><p class="rps__item-text">Комп'ютер - 0</p></li>
        <li class="rps__item-score"><p class="rps__item-text">Ви - 0</p></li>
      </ul>
    </div>
    <p class="rps__text-round">Ви виграли раунд!</p>
    <button type="button" class="rps__btn">Варіант комп'ютера</button>
</div>
</section>