<section id="acquaintance" class="scientists">
    <div class="scientists__container container">
        <h2 class="scientists__title">
            Обери вченого/ux
        </h2>
        <ul class="scientists__blocks-list">
            <li class="scientists__blocks-item">
                <div class="scientists__block">
                    <p class="scientists__text">
                        <span class="scientists__name">Albert Einstein</span>
                        <span class="scientists__year">1879-1955</span>
                    </p>
                </div>
            </li>
            <li class="scientists__blocks-item">
                <div class="scientists__block">
                    <p class="scientists__text">
                        <span class="scientists__name">Isaac Newton</span>
                        <span class="scientists__year">1643-1727</span>
                    </p>
                </div>
            </li>
            <li class="scientists__blocks-item">
                <div class="scientists__block">
                    <p class="scientists__text">
                        <span class="scientists__name">Galileo Galilei</span>
                        <span class="scientists__year">1564-1642</span>
                    </p>
                </div>
            </li>
            <li class="scientists__blocks-item">
                <div class="scientists__block">
                    <p class="scientists__text">
                        <span class="scientists__name">Marie Curie</span>
                        <span class="scientists__year">1867-1934</span>
                    </p>
                </div>
            </li>
            <li class="scientists__blocks-item">
                <div class="scientists__block">
                    <p class="scientists__text">
                        <span class="scientists__name">Johannes Kepler</span>
                        <span class="scientists__year">1571-1630</span>
                    </p>
                </div>
            </li>
            <li class="scientists__blocks-item">
                <div class="scientists__block">
                    <p class="scientists__text">
                        <span class="scientists__name">Nicolaus Copernicus</span>
                        <span class="scientists__year">1473-1543</span>
                    </p>
                </div>
            </li>
            <li class="scientists__blocks-item">
                <div class="scientists__block">
                    <p class="scientists__text">
                        <span class="scientists__name">Max Planck</span>
                        <span class="scientists__year">1858-1947</span>
                    </p>
                </div>
            </li>
            <li class="scientists__blocks-item">
                <div class="scientists__block">
                    <p class="scientists__text">
                        <span class="scientists__name">Katherine Blodgett</span>
                        <span class="scientists__year">1898-1979</span>
                    </p>
                </div>
            </li>
            <li class="scientists__blocks-item">
                <div class="scientists__block">
                    <p class="scientists__text">
                        <span class="scientists__name">Ada Lovelace</span>
                        <span class="scientists__year">1815-1852</span>
                    </p>
                </div>
            </li>
            <li class="scientists__blocks-item">
                <div class="scientists__block">
                    <p class="scientists__text">
                        <span class="scientists__name">Sarah E. Goode</span>
                        <span class="scientists__year">1855-1905</span>
                    </p>
                </div>
            </li>
            <li class="scientists__blocks-item">
                <div class="scientists__block">
                    <p class="scientists__text">
                        <span class="scientists__name">Lise Meitner</span>
                        <span class="scientists__year">1878-1968</span>
                    </p>
                </div>
            </li>
            <li class="scientists__blocks-item">
                <div class="scientists__block">
                    <p class="scientists__text">
                        <span class="scientists__name">Hanna Hammarström</span>
                        <span class="scientists__year">1829-1909</span>
                    </p>
                </div>
            </li>
        </ul>
        <ul class="scientists__buttons-couple">
            <ul class="scientists__buttons-column">
                <li class="scientists__buttons-item">
                    <button class="scientists__button" id="scientists-button1">Які вчені народилися в 19 ст.</button>
                </li>
                <li class="scientists__buttons-item">
                    <button class="scientists__button" id="scientists-button2">Відсортувати вчених за алфавітом</button>
                </li>
                <li class="scientists__buttons-item">
                    <button class="scientists__button" id="scientists-button3">Відсортувати вчених за кількістю прожитих років</button>
                </li>
                <li class="scientists__buttons-item">
                    <button class="scientists__button" id="scientists-button4">Знайти вченого, який народився найпізніше</button>
                </li>
            </ul>
            <ul class="scientists__buttons-column">
                <li class="scientists__buttons-item">
                    <button class="scientists__button" id="scientists-button5">Знайти рік народження Albert Einshtein</button>
                </li>
                <li class="scientists__buttons-item">
                    <button class="scientists__button" id="scientists-button6">Знайти вчених, прізвища яких починаються на на літеру “С”</button>
                </li>
                <li class="scientists__buttons-item">
                    <button class="scientists__button" id="scientists-button7">Видалити всіх вчених, ім’я яких починається на “А”</button>
                </li>
                <li class="scientists__buttons-item">
                    <button class="scientists__button" id="scientists-button8">Знайти вченого, який прожив найдовше і вченого, який прожив найменше</button>
                </li>
            </ul>
        </ul>
        <button class="scientists__button" id="scientists-button9">Знайти вчених, в яких співпадають перші літери імені і прізвища</button>
    </div>
</section>