<section class="scientists">
    <div class="scientists__container container">
        <h2 class="scientists__title">
            Обери вченого/ux
        </h2>
        <ul class="scientists__blocks-list">
            <li class="scientists__blocks-item">
                <div class="scientists__block"></div>
            </li>
            <li class="scientists__blocks-item">
                <div class="scientists__block"></div>
            </li>
            <li class="scientists__blocks-item">
                <div class="scientists__block"></div>
            </li>
            <li class="scientists__blocks-item">
                <div class="scientists__block"></div>
            </li>
            <li class="scientists__blocks-item">
                <div class="scientists__block"></div>
            </li>
            <li class="scientists__blocks-item">
                <div class="scientists__block"></div>
            </li>
            <li class="scientists__blocks-item">
                <div class="scientists__block"></div>
            </li>
            <li class="scientists__blocks-item">
                <div class="scientists__block"></div>
            </li>
            <li class="scientists__blocks-item">
                <div class="scientists__block"></div>
            </li>
            <li class="scientists__blocks-item">
                <div class="scientists__block"></div>
            </li>
            <li class="scientists__blocks-item">
                <div class="scientists__block"></div>
            </li>
            <li class="scientists__blocks-item">
                <div class="scientists__block"></div>
            </li>
        </ul>
        <ul class="scientists__buttons-list">
            <li class="scientists__buttons-item">
                <button class="scientists__button">Які вчені народилися в 19 ст.</button>
            </li>
            <li class="scientists__buttons-item">
                <button class="scientists__button">Відсортувати вчених за алфавітом</button>
            </li>
            <li class="scientists__buttons-item">
                <button class="scientists__button">Відсортувати вчених за кількістю прожитих років</button>
            </li>
            <li class="scientists__buttons-item">
                <button class="scientists__button">Знайти вченого, який народився найпізніше</button>
            </li>
            <li class="scientists__buttons-item">
                <button class="scientists__button">Знайти рік народження Albert Einshtein</button>
            </li>
            <li class="scientists__buttons-item">
                <button class="scientists__button">Знайти вчених, прізвища яких починаються на на літеру “С” </button>
            </li>
            <li class="scientists__buttons-item">
                <button class="scientists__button">Видалити всіх вчених, ім’я яких починається на “А”</button>
            </li>
            <li class="scientists__buttons-item">
                <button class="scientists__button">Знайти вченого, який прожив найдовше і вченого, який прожив найменше</button>
            </li>
            <li class="scientists__buttons-item">
                <button class="scientists__button">Знайти вчених, в яких співпадають перші літери імені і прізвища</button>
            </li>
        </ul>
    </div>
</section>