<section id="acquaintance" class="scientists">
    <div class="scientists__container container">
        <h2 class="scientists__title">
            Обери вченого/ux
        </h2>
        <ul class="scientists__blocks-list">
            <li class="scientists__blocks-item">
                <div class="scientists__block">
                    <p class="scientists__text" name="Albert" surname="Einstein" born="1879" dead="1955">
                        <span class="scientists__name">Albert Einstein</span>
                        <span class="scientists__year">1879-1955</span>
                    </p>
                </div>
            </li>
            <li class="scientists__blocks-item">
                <div class="scientists__block">
                    <p class="scientists__text" name="Isaac" surname="Newton" born="1643" dead="1727">
                        <span class="scientists__name">Isaac Newton</span>
                        <span class="scientists__year">1643-1727</span>
                    </p>
                </div>
            </li>
            <li class="scientists__blocks-item">
                <div class="scientists__block">
                    <p class="scientists__text" name="Galileo" surname="Galilei" born="1564" dead="1642">
                        <span class="scientists__name">Galileo Galilei</span>
                        <span class="scientists__year">1564-1642</span>
                    </p>
                </div>
            </li>
            <li class="scientists__blocks-item">
                <div class="scientists__block">
                    <p class="scientists__text" name="Marie" surname="Curie" born="1867" dead="1934">
                        <span class="scientists__name">Marie Curie</span>
                        <span class="scientists__year">1867-1934</span>
                    </p>
                </div>
            </li>
            <li class="scientists__blocks-item">
                <div class="scientists__block">
                    <p class="scientists__text" name="Johannes" surname="Kepler" born="1571" dead="1630">
                        <span class="scientists__name">Johannes Kepler</span>
                        <span class="scientists__year">1571-1630</span>
                    </p>
                </div>
            </li>
            <li class="scientists__blocks-item">
                <div class="scientists__block">
                    <p class="scientists__text" name="Nicolaus" surname="Copernicus" born="1473" dead="1543">
                        <span class="scientists__name">Nicolaus Copernicus</span>
                        <span class="scientists__year">1473-1543</span>
                    </p>
                </div>
            </li>
            <li class="scientists__blocks-item">
                <div class="scientists__block">
                    <p class="scientists__text" name="Max" surname="Planck" born="1858" dead="1947">
                        <span class="scientists__name">Max Planck</span>
                        <span class="scientists__year">1858-1947</span>
                    </p>
                </div>
            </li>
            <li class="scientists__blocks-item">
                <div class="scientists__block">
                    <p class="scientists__text" name="Katherine" surname="Blodgett" born="1898" dead="1979">
                        <span class="scientists__name">Katherine Blodgett</span>
                        <span class="scientists__year">1898-1979</span>
                    </p>
                </div>
            </li>
            <li class="scientists__blocks-item">
                <div class="scientists__block">
                    <p class="scientists__text" name="Ada" surname="Lovelace" born="1815" dead="1852">
                        <span class="scientists__name">Ada Lovelace</span>
                        <span class="scientists__year">1815-1852</span>
                    </p>
                </div>
            </li>
            <li class="scientists__blocks-item">
                <div class="scientists__block">
                    <p class="scientists__text" name="Sarah" surname="E. Goode" born="1855" dead="1905">
                        <span class="scientists__name">Sarah E. Goode</span>
                        <span class="scientists__year">1855-1905</span>
                    </p>
                </div>
            </li>
            <li class="scientists__blocks-item">
                <div class="scientists__block">
                    <p class="scientists__text" name="Lise" surname="Meitner" born="1878" dead="1968">
                        <span class="scientists__name">Lise Meitner</span>
                        <span class="scientists__year">1878-1968</span>
                    </p>
                </div>
            </li>
            <li class="scientists__blocks-item">
                <div class="scientists__block">
                    <p class="scientists__text" name="Hanna" surname="Hammarström" born="1829" dead="1909">
                        <span class="scientists__name">Hanna Hammarström</span>
                        <span class="scientists__year">1829-1909</span>
                    </p>
                </div>
            </li>
        </ul>
        <ul class="scientists__buttons-couple">
            <li class="scientists__buttons-column">
                <ul>
                    <li class="scientists__buttons-item">
                        <button class="scientists__button" id="scientists-button1" type="button">Які вчені народилися в 19 ст.</button>
                    </li>
                    <li class="scientists__buttons-item">
                        <button class="scientists__button" id="scientists-button2" type="button">Відсортувати вчених за алфавітом</button>
                    </li>
                    <li class="scientists__buttons-item">
                        <button class="scientists__button" id="scientists-button3" type="button">Відсортувати вчених за кількістю прожитих років</button>
                    </li>
                    <li class="scientists__buttons-item">
                        <button class="scientists__button" id="scientists-button4" type="button">Знайти вченого, який народився найпізніше</button>
                    </li>
                </ul>
            </li>
            <li class="scientists__buttons-column">
                <ul>
                    <li class="scientists__buttons-item">
                        <button class="scientists__button" id="scientists-button5" type="button">Знайти рік народження Albert Einshtein</button>
                    </li>
                    <li class="scientists__buttons-item">
                        <button class="scientists__button" id="scientists-button6" type="button">Знайти вчених, прізвища яких починаються на на літеру “С”</button>
                    </li>
                    <li class="scientists__buttons-item">
                        <button class="scientists__button" id="scientists-button7" type="button">Видалити всіх вчених, ім’я яких починається на “А”</button>
                    </li>
                    <li class="scientists__buttons-item">
                        <button class="scientists__button" id="scientists-button8" type="button">Знайти вченого, який прожив найдовше і вченого, який прожив найменше</button>
                    </li>
                </ul>
            </li>
        </ul>
        <button class="scientists__button" id="scientists-button9" type="button">Знайти вчених, в яких співпадають перші літери імені і прізвища</button>
    </div>
</section>