<section id="slider" class="slider">
  <div class="container">
    <h2 class="slider__title">Наша команда</h2>
    <div class="slider__flex">
      <button class="slider__btn"></button>
      <div class="slider__photo"></div>
      <button class="slider__btn"></button>
    </div>
    <p class="slider__name">Ім’я студента</p>
    <p class="slider__text">Інформація про роботу, яку він/вона виконав/ла</p>
    <ul class="slider__list">
      <li class="slider__item">
        <div class="slider__page"></div>
      </li>
      <li class="slider__item">
        <div class="slider__page"></div>
      </li>
      <li class="slider__item">
        <div class="slider__page"></div>
      </li>
      <li class="slider__item">
        <div class="slider__page"></div>
      </li>
    </ul>
  </div>
</section>
