<section id="slider" class="slider">
  <div class="container">
    <h2 class="slider__title">Наша команда</h2>
    <div class="slider__flex">
      <button class="slider__btn slider__btn--left"></button>
      <ul class="slider__photos">
        <li class="slider__photo">
          <div class="slider__img slider__img--dima">Тут буде фото, але поки просто div</div>
        </li>
        <li class="slider__photo">
          <div class="slider__img slider__hidden slider__img--artur">Тут буде фото, але поки просто div</div>
        </li>
        <li class="slider__photo">
          <div class="slider__img slider__hidden slider__img--maksym">Тут буде фото, але поки просто div</div>
        </li>
        <li class="slider__photo">
          <div class="slider__img slider__hidden slider__img--vlad">Тут буде фото, але поки просто div</div>
        </li>
      </ul>
      <div class="slider__photo"></div>
      <button class="slider__btn slider__btn--right"></button>
    </div>
    <ul class="slider__names">
      <li class="slider__name">
        <p class="slider__student-name">Діма</p>
      </li>
      <li class="slider__name">
        <p class="slider__student-name slider__hidden">Артур</p>
      </li>
      <li class="slider__name">
        <p class="slider__student-name slider__hidden">Максим</p>
      </li>
      <li class="slider__name">
        <p class="slider__student-name slider__hidden">Влад</p>
      </li>
    </ul>
    <ul class="slider__work-list">
      <li class="slider__work-item">
        <p class="slider__work-text">Робота, яку виконав Діма (я не знаю що писати)</p>
      </li>
      <li class="slider__work-item">
        <p class="slider__work-text slider__hidden">Робота, яку виконав Артур (я не знаю що писати)</p>
      </li>
      <li class="slider__work-item">
        <p class="slider__work-text slider__hidden">Робота, яку виконав Максим (я не знаю що писати)</p>
      </li>
      <li class="slider__work-item">
        <p class="slider__work-text slider__hidden">Робота, яку виконав Влад (я не знаю що писати)</p>
      </li>
    </ul>
    <ul class="slider__list">
      <li class="slider__item">
        <div class="slider__page slider__page--curr"></div>
      </li>
      <li class="slider__item">
        <div class="slider__page"></div>
      </li>
      <li class="slider__item">
        <div class="slider__page"></div>
      </li>
      <li class="slider__item">
        <div class="slider__page"></div>
      </li>
    </ul>
  </div>
</section>
