<section id="acquaintance" class="slider">
  <div class="container">
    <h2 id="our-team-anchor" class="slider__title">Наша команда</h2>
    <div class="slider__flex">
      <button class="slider__btn slider__btn--left">
        <svg class="slider__icon">
          <use href="./images/sprite.svg#slider-arrow-left"></use>
        </svg>
      </button>
      <ul class="slider__photos">
        <li class="slider__photo">
          <div class="slider__img">
            <img src="../images/dima.webp" alt="dimas photo" class="slider__img--dima">
          </div>
        </li>
        <li class="slider__photo">
          <div class="slider__img slider__hidden slider__img--artur">
            <img src="../images/artur.webp" alt="arturs photo" class="slider__img--artur">
          </div>
        </li>
        <li class="slider__photo">
          <div class="slider__img slider__hidden">
            <img src="../images/maksym.webp" alt="maksyms photo" class="slider__img--maksym">
          </div>
        </li>
        <li class="slider__photo">
          <div class="slider__img slider__hidden">
            <img src="../images/vlad.webp" alt="vlads photo" class="slider__img--vlad">
          </div>
        </li>
      </ul>
      <div class="slider__photo"></div>
      <button class="slider__btn slider__btn--right">
        <svg class="slider__icon">
          <use href="./images/sprite.svg#slider-arrow-right"></use>
        </svg>
      </button>
    </div>
    <ul class="slider__names">
      <li class="slider__name">
        <p class="slider__student-name">Діма</p>
      </li>
      <li class="slider__name">
        <p class="slider__student-name slider__hidden">Артур</p>
      </li>
      <li class="slider__name">
        <p class="slider__student-name slider__hidden">Максим</p>
      </li>
      <li class="slider__name">
        <p class="slider__student-name slider__hidden">Влад</p>
      </li>
    </ul>
    <ul class="slider__work-list">
      <li class="slider__work-item">
        <p class="slider__work-text">Teamlead</p>
      </li>
      <li class="slider__work-item">
        <p class="slider__work-text slider__hidden">Scrum Master, Developer</p>
      </li>
      <li class="slider__work-item">
        <p class="slider__work-text slider__hidden">Developer</p>
      </li>
      <li class="slider__work-item">
        <p class="slider__work-text slider__hidden">Developer</p>
      </li>
    </ul>
    <ul class="slider__list">
      <li class="slider__item">
        <div class="slider__page slider__page--curr"></div>
      </li>
      <li class="slider__item">
        <div class="slider__page"></div>
      </li>
      <li class="slider__item">
        <div class="slider__page"></div>
      </li>
      <li class="slider__item">
        <div class="slider__page"></div>
      </li>
    </ul>
  </div>
</section>