<div class="backdrop s__modal-backdrop">
    <div class="s__modal">
        <p class="s__modal-text">Привіт!
            Ви потрапили на сайт інтерактивних ігор та завдань.
            Сподіваємось, що вам сподобається і ви отримаєте позитивні емоції!
            Бажаємо Вам гарно провести час!</p>
        <form action="" class="s__modal-form" novalidate>
            <p class="s__modal-name">Введіть своє ім’я:</p>
            <input placeholder="Ваше ім’я..." class="s__modal-input" id="name-user"></input>
            <button type="submit" class="s__modal-button">Зберегти</button>
        </form>
        <div class="s__modal-box">
            <img class="s__modal-icon" src="./images/sword.webp" alt="">
            <img class="s__modal-icon" src="./images/puzzle.webp" alt="">
            <img class="s__modal-icon" src="./images/console.webp" alt="">
            <img class="s__modal-icon" src="./images/game.webp" alt="">
        </div>

        <button type="submit" class="s__modal-close" aria-label="close modal">
            <svg class="s__modal-cross">
                <use href="./images/sprite.svg#icon-close"></use>
            </svg>
        </button>
    </div>
</div>