<section class="time">
  <div class="container">
    <h2 class="time__title">Калькулятор часу</h2>
    <div class="time__box">
      <form class="time__form">
        <input placeholder="Введіть число" class="time__input" />
        <button class="time__button" type="submit">
            <svg class="time__icon">
                <use href="../images/sprite.svg#search"></use>
            </svg>
        </button>
      </form>
      <p class="time__text">3 дн. 15:45:01</p>
    </div>
  </div>
</section>
