<section id="numerical" class="time">
  <div class="container">
    <h2 class="time__title">Калькулятор часу</h2>
    <div class="time__box">
      <form class="time__form">
        <input placeholder="Введіть секунди" class="time__input" />
        <button class="time__button" type="button" aria-label="button confirm">
            <svg class="time__icon">
                <use href="./images/sprite.svg#search"></use>
            </svg>
        </button>
      </form>
      <p class="time__text"><span class="time__days">0</span> дн. <span class="time__hours">00</span>:<span class="time__minutes">00</span>:<span class="time__secs">00</span></p>
    </div>
  </div>
</section>
