.biggest-number{
    padding: 0px 0;
    position: relative;

   &::after {
        content: "";
    
        position: absolute;
        top: 204px;
        left: 50%;
    
        width: 536px;
        height: 1px;
    
        transform: translate(-50%, 0);
        background-color: #000;
      }
    
   &__title{
    color: #000;
    font-family: "Montserrat Alternates";
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 36px;
    }
    
   &__input{
    width: 135px;
    height: 35px;
    padding: 10px 20px;
    border-radius: 20px;
    background: #D7D7D7;
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
    
    color: #7E7E7E;
    font-family: "Montserrat Alternates";
    font-size: 12px;
    font-weight: 400;
    }
    
   &__list{
        display: flex;
        justify-content: center;
        gap: 38px;
        margin-bottom: 26px;
    }
    
   &__text{
    color: #000;
    font-family: "Montserrat Alternates";
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
    }

    &__btn{
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    font-family: "Montserrat Alternates";
    font-size: 12px;
    font-weight: 400;
    border-radius: 20px;
    background: #000;
    padding: 10px 20px;
    }
}
