.fi__modal {
  position: relative;
  padding: 70px 138px 100px 138px;
  margin-right: auto;
  margin-left: auto;

  width: 1000px;

  background-color: #fff;
  border-radius: 20px;

  &-close {
    position: absolute;
    top: 30px;
    right: 30px;

    width: 15px;
    height: 15px;

    background-color: transparent;
  }

  &-cross {
    width: 17px;
    height: 17px;
    fill: #000;
    stroke: #000;

    background-image: url(../images/icon-close.webp);
  }

  &-title {
    text-align: center;
    font-family: Inter;
    font-size: 25px;
    font-weight: 400;
  }

  &-line {
    position: relative;
    left: -138px;
    display: flex;
    margin: 20px auto;

    width: 1000px;
    height: 1px;
    background-color: #000;
  }

  &-box {
    display: flex;
    flex-direction: column;
  }

  &-text {
    text-align: center;
    font-family: Inter;
    font-size: 17px;
    font-weight: 400;

    &:first-child {
        margin-bottom: 20px;
    }

    &:nth-child(2) {
        margin-bottom: 10px;
    }

    &:nth-child(3) {
        margin-bottom: 5px;
    }

    &:nth-child(4) {
        margin-bottom: 5px;
    }

    &:nth-child(5) {
        margin-bottom: 20px;
    }

    &:nth-child(6) {
        margin-bottom: 20px;
    }

    &:nth-child(7) {
        margin-bottom: 20px;
    }

    &:nth-child(8) {
        margin-bottom: 20px;
    }
  }

  &-icon {
    width: 30px;
    height: 30px;

    &:first-child,
    &:nth-child(2),
    &:nth-child(3),
    &:last-child {
      position: absolute;
    }

    &:first-child {
      position: absolute;
      top: -39px;
      left: -65px;

      background-image: url(../images/sword.webp);
    }

    &:nth-child(2) {
      top: 35px;
      left: -29px;

      background-image: url(../images/puzzle.webp);
    }

    &:nth-child(3) {
      top: -39px;
      right: -65px;

      background-image: url(../images/console.webp);
    }

    &:last-child {
      top: 35px;
      right: -29px;

      background-image: url(../images/game.webp);
    }
  }

  &-icons {
    position: relative;
  }
}
