.football {
    padding: 36px 0;

    &__title { 
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        margin-bottom: 36px;

        color: $black-color;
        font-family: "Montserrat Alternates";
        font-size: 16px;
        font-weight: 400;
    }

    &__stadium {
        position: relative;
        margin-left: auto;
        margin-right: auto;

        width: 720px;
        height: 220px;

        border-radius: 37px;
        border: 2px solid $black-color;
        background: $light-green-color;

        .score {
            position: absolute;
            z-index: 4;
            top: 10px;
            left: 20px;

            color: $black-color;
            font-family: "Montserrat Alternates";
            font-size: 30px;
            font-weight: 600;
        }

        &-ball {
            position: absolute;
            z-index: 2;
            top: 85px;
            left: 92px;

            cursor: pointer;
            width: 50px;
            height: 50px;
            transition: all 1000ms ease-out;
        }

        &-gates {
            position: absolute;
            z-index: 0;
            right: -10px;
            top: 60px;

            height: 100px;
            width: auto;
            transform: rotate(90deg);
        }
    }

    &__line {
        display: flex;
        justify-content: center;
        margin: 36px auto 0 auto;

        width: 536px;
        height: 1px;

        background-color: $black-color;

        &--hidden {
            display: none;
        }
    }
}