.football {
    padding: 36px 0;

    &__title { 
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        margin: 0 auto 36px auto;

        color: $black-color;
        font-family: "Montserrat Alternates";
        font-size: 16px;
        font-weight: 400;
    }

    &__title > span {
        display: flex;
        gap: 20px;
    }

    &__info {
        position: absolute;

        &-button {
            position: relative;
            left: 10px;
            top: 1px;

            width: 17px;
            height: 17px;
            border-radius: 50%;

            background-color: #ffffff;

            transition: all 500ms ease;

            &--show {
                background-color: #000000;
            }

            &-icon {
                background-image: url(../images/icon-info.webp);
                background-size: cover;
                background-position: center; 
                background-repeat: no-repeat;
                width: 100%;
                height: 100%;

                transition: all 500ms ease;

                &--show {
                    background-image: url(../images/dark-mode-icon-info.webp);
                }
            }
        }

        &-text {
            position: absolute;
            opacity: 0;

            padding: 10px;
            transform: translateY(-12px);

            border-radius: 15px;
            width: 200px;
            font-family: "Montserrat Alternates";
            font-size: 10px;
            font-weight: 400;
            background-color: #d7d7d7;

            transition: all 500ms ease;

            &--show {
                opacity: 1;
            }
        }
    }

    &__stadium {
        position: relative;
        margin-left: auto;
        margin-right: auto;

        width: 720px;
        height: 220px;

        border-radius: 37px;
        border: 2px solid $black-color;
        background: $light-green-color;

        .score {
            position: absolute;
            z-index: 4;
            top: 10px;
            left: 20px;

            color: $black-color;
            font-family: "Montserrat Alternates";
            font-size: 30px;
            font-weight: 600;
        }

        &-time {
            position: absolute;
            z-index: 4;
            top: 10px;
            right: 10px;
            left: 615px;

            color: $black-color;
            font-family: "Montserrat Alternates";
            font-size: 25px;
            font-weight: 600;

            .time-minutes {
                color: $black-color;
                font-family: "Montserrat Alternates";
                font-size: 25px;
                font-weight: 600;
            }

            .time-seconds {
                color: $black-color;
                font-family: "Montserrat Alternates";
                font-size: 25px;
                font-weight: 600;
            }
        }

        &-ball {
            position: absolute;
            z-index: 2;
            top: 85px;
            left: 92px;

            cursor: pointer;
            width: 50px;
            height: 50px;
            transition: all 1000ms ease-out;
        }

        &-gates {
            position: absolute;
            z-index: 0;
            right: -10px;
            top: 60px;

            height: 100px;
            width: auto;
            transform: rotate(90deg);
        }
    }

    &__line {
        display: flex;
        justify-content: center;
        margin: 36px auto 0 auto;

        width: 536px;
        height: 1px;

        background-color: $black-color;

        &--hidden {
            display: none;
        }
    }
}