.football {
    padding: 36px 0;

    &__title { 
        display: flex;
        justify-content: center;
        margin-bottom: 36px;

        color: $black-color;
        font-family: "Montserrat Alternates";
        font-size: 16px;
        font-weight: 400;
    }

    &__stadium {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        padding-left: 92px;
        padding-right: 213.79px;
        padding: 99px 213.79px 99.79px 92px;

        width: 720px;
        height: 220px;

        border-radius: 37px;
        border: 2px solid $black-color;
        background: $light-green-color;

        &-ball {
            cursor: pointer;
            width: 50px;
            height: 50px;
        }

        &-cursor {
            position: absolute;
            top: 99px;
            left: 485px;

            flex-shrink: 0;

            fill: $black-color;
            stroke-width: 5px;
            stroke: $black-color;
        }
    }

    &__line {
        display: flex;
        justify-content: center;
        margin: 36px auto 0 auto;

        width: 536px;
        height: 1px;

        background-color: $black-color;
    }
}