.football {
    padding: 36px 0;

    &__title { 
        display: flex;
        justify-content: center;
        margin-bottom: 36px;

        color: $black-color;
        font-family: "Montserrat Alternates";
        font-size: 16px;
        font-weight: 400;
    }

    &__stadium {
        position: relative;
        margin-left: auto;
        margin-right: auto;

        width: 720px;
        height: 220px;

        border-radius: 37px;
        border: 2px solid $black-color;
        background: $light-green-color;

        &-ball {
            position: absolute;
            top: 85px;
            left: 92px;

            cursor: pointer;
            width: 50px;
            height: 50px;
            transition: all 1000ms ease-out;
        }
    }

    &__line {
        display: flex;
        justify-content: center;
        margin: 36px auto 0 auto;

        width: 536px;
        height: 1px;

        background-color: $black-color;
    }
}