.header {
    width: 1090px;
    height: 80px;

    padding: 21px 0 20.85px 0;

    margin-right: auto;
    margin-left: auto;

    &__navigation {
        display: flex;
        align-items: center;
    }

    &__logo {
        display: flex;
        gap: 23px;
        margin-right: 81px;

        &-icon {
            width: 42px;
            height: 40px;
            stroke: #000;
            fill: white;
            transition: all 1000ms ease-in-out;
        }

        &-titles {
            display: block;
            padding-top: 5px;
            gap: 2px;
        }

        &-first-title {
            width: 44px;
            height: 15px;
            
            color: $black-color;
            font-family: "Montserrat Alternates";
            font-size: 12px;
            font-weight: 400;
        }

        &-second-title {
            width: 30px;
            height: 18px;

            padding-left: 14px;

            color: $black-color;
            font-family: "Sacramento";
            font-size: 12px;
            font-weight: 400;
        }
    }

    &__list {
        display: flex;
        align-items: center;
        gap: 50px;
        margin-right: 344px;

        &:first-child {
            width: 96px;
        }

        &-item {
            position: relative;
        }

        &-item-link {
            color: $black-color;
            font-family: "Montserrat Alternates";
            font-size: 12px;
            font-weight: 400;
        }

        &-item-menu-arrow {
            width: 11px;
            height: 9px;
            margin-left: 4px;
            padding-top: 2px;
            stroke: $black-color;
            fill: $white-color;
            transition: all 800ms ease-in-out;
        }
    }

    &__interactives-list {
        position: absolute;
        top: 45.5px;
        left: -32px;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 160px;
        height: 105px;

        border-radius: 0px 0px 20px 20px;
        border-right: 1px solid $black-color;
        border-bottom: 1px solid $black-color;
        border-left: 1px solid $black-color;
        background: $white-color;

        &-show {
            display: flex;
        }
    }

    &__interactives-item {
        position: relative;
        padding: 10px 0;
        z-index: 1;
        cursor: pointer;
        text-align: center;

        width: 157px;
        height: 35px;

        &:hover {
            background-color: #F1F1F1;
        }

        &:first-child {
            height: 34px;
        }

        &:last-child {
            height: 34px;
            border-radius: 0px 0px 20px 20px;
        }
    }

    &__interactives-link {
        text-align: center;
        align-items: center;
        color: $black-color;
        font-family: "Montserrat Alternates";
        font-size: 12px;
        font-weight: 400;
    }

    &__theme {
        display: inline-flex;
        position: relative;
        margin-right: 51px;

        width: 40px;
        height: 20px;

        border-radius: 11px;
        background: $grey-color;

        &-changer {
            width: 0;
            height: 0;
            opacity: 0;
        }

        &-slider {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            cursor: pointer;
            border-radius: 11px;
            background-color: $grey-color;
            transition: 0.3s;
        }

        &-slider::before {
            content: "";

            position: absolute;
            left: 0;
            bottom: 0;

            width: 20.5px;
            height: 20px;
            cursor: pointer;

            border: solid 0.5px $black-color;
            border-radius: 50%;
            background-color: $white-color;
            transition: 0.3s;
        }

        &-changer:checked + &-slider::before {
            position: absolute;
            right: 0;
            bottom: 0;

            width: 20.5px;

            transform: translateX(20px);
            background-color: $black-color;
        }

        &-icon {
            display: flex;
            width: 20.533px;
            height: 20.667px;
            padding: 3px 3px 3px 2px;
            border-radius: 15.033px;
            stroke: $black-color;
            position: absolute;
            z-index: 1;

            &-sun {
                display: block;
                left: 0;
            }

            &-moon {
                display: none;
                right: 0;
            }
        }

        &-changer:checked + &-slider > &-icon-sun {
            display: none;
        }

        &-changer:checked + &-slider > &-icon-moon {
            display: block;
        }
    }

    &__greeting {
        display: flex;
        justify-content: flex-end;
        gap: 4px;

        color: #000;
        text-align: right;
        font-family: "Montserrat Alternates";
        font-size: 12px;
        font-weight: 400;
    }
}