.header {
    width: 1090px;
    height: 80px;

    padding: 21px 0 20.85px 0;

    margin-right: auto;
    margin-left: auto;

    outline: solid red;

    &__navigation {
        display: flex;
        align-items: center;
    }

    &__logo {
        display: flex;
        gap: 23px;
        margin-right: 81px;

        &-icon {
            width: 42px;
            height: 40px;
        }

        &-titles {
            display: block;
            padding-top: 5px;
            gap: 2px;
        }

        &-first-title {
            width: 44px;
            height: 15px;
            
            color: #000;
            font-family: "Montserrat Alternates";
            font-size: 12px;
            font-weight: 400;
        }

        &-second-title {
            width: 30px;
            height: 18px;

            padding-left: 14px;

            color: #000;
            font-family: "Sacramento";
            font-size: 12px;
            font-weight: 400;
        }
    }

    &__list {
        display: flex;
        align-items: center;
        gap: 50px;
        margin-right: 348px;

        &:first-child {
            width: 96px;
        }

        &-item-link {
            color: #000;
            font-family: "Montserrat Alternates";
            font-size: 12px;
            font-weight: 400;
        }

        &-item-menu-arrow {
            width: 11px;
            height: 9px;
            margin-left: 4px;
            padding-top: 3px;
        }
    }

    &__theme {
        display: inline-flex;
        position: relative;
        width: 40px;
        height: 20px;
        margin-right: 51px;

        border-radius: 11px;
        background: #7A7A7A;

        &-changer {
            width: 0;
            height: 0;
            opacity: 0;
        }

        &-slider {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            cursor: pointer;
            border-radius: 11px;
            background-color: #7A7A7A;
        }

        &-slider::before {
            content: "";

            position: absolute;
            left: 0;
            bottom: 0;

            width: 20.5px;
            height: 20px;
            cursor: pointer;

            border: solid 0.5px black;
            border-radius: 50%;
            background-color: #fff;
        }
    }

    &__greeting {
        display: flex;
        justify-content: flex-end;

        color: #000;
        text-align: right;
        font-family: "Montserrat Alternates";
        font-size: 12px;
        font-weight: 400;
    }
}