.rps {
  padding: 36px 0;
  position: relative;

  &::after {
    content: "";
  
    position: absolute;
    top: 310px;
    left: 50%;
  
    width: 536px;
    height: 1px;
  
    transform: translate(-50%, 0);
    background-color: #000;
  }
  
  &__title {
    color: #000;
    font-family: "Montserrat Alternates";
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 36px;
  }
  
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 38px;
  }
  
  &__item {
    background-color: #000;
    padding: 10px;
    border-radius: 20px;
    width: 60px;
    height: 60px;
  }
  
  &__text-round {
    color: #039900;
    font-family: "Montserrat Alternates";
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    margin-top: 36px;
    margin-bottom: 36px;
  }
  
  &__btn {
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    font-family: "Montserrat Alternates";
    font-size: 12px;
    font-weight: 400;
    border-radius: 20px;
    background: #000;
    padding: 10px 20px;
  }
  
  &__item-text {
    color: #000;
    font-family: "Montserrat Alternates";
    font-size: 12px;
    font-weight: 400;
    line-height: 170%;
  }
  
  &__list-box {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(47px);
  }
  
  &__list-score {
    transform: translateX(104px);
  }
}

.rps__item-rock, .rps__item-paper, .rps__item-scissors{
  width: 50px;
  height: 40px;
}

.rps__item-scissors{
  margin-top: 3px;
}