.scientists {
    padding: 36px 0;

    &__title {
        display: flex;
        justify-content: center;
        margin-bottom: 36px;

        color: $black-color;
        font-family: "Montserrat Alternates";
        font-size: 16px;
        font-weight: 400;
    }

    &__blocks-list {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto 36px auto;
        column-gap: 59px;
        row-gap: 36px;

        width: 577px;
    }

    &__block {
        padding-top: 41px;
        cursor: pointer;
        width: 100px;
        height: 100px;
        border-radius: 20px;
        background: $cream-color;
    }

    &__text {
        display: flex;
        justify-content: center;
        flex-direction: column;
        opacity: 1;

        color: #000;
        text-align: center;
        font-family: "Montserrat Alternates";
        font-size: 8px;
        font-weight: 400;
        line-height: 13.6px;
        opacity: 0;
        transition: all 500ms ease;

        &--show {
            opacity: 1;
        }
    }

    &__buttons-couple {
        display: flex;
        justify-content: center;
        gap: 36px;

        margin-bottom: 20px;
    }

    &__buttons-column {
        display: flex;
        flex-direction: column;
        gap: 36px;

        width: 441px;
    }

    &__buttons-column:first-child &__buttons-item {
        display: flex;
        align-items: flex-end;
        margin-left: auto;
    }

    &__buttons-column:last-child &__buttons-item {
        display: flex;
        justify-content: flex-start;
        margin-right: auto;
    }

    &__buttons-column:last-child &__buttons-item:last-child {
        width: 368px;
        display: flex;
        justify-content: flex-start;
        margin-right: auto;
        text-align: right;
    }

    &__buttons-column:last-child &__buttons-item:last-child > &__button {
        width: 368px;
        text-align: left;
    }

    &__buttons-column > ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__button {
        display: flex;
        padding: 10px 20px;
        gap: 10px;
        margin: 0 auto;

        color: $white-color;
        text-align: right;
        font-family: "Montserrat Alternates";
        font-size: 12px;
        font-weight: 400;

        border-radius: 20px;
        background: $black-color;
        box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);

        &--close {
            background-color: #414141;
            cursor: wait;
            transition: all 500ms ease-in-out;
        }
    }

    &__buttons-couple > li:first-child &__button {
        margin-left: auto;
    }
}