.slider {
  position: relative;

  padding: 36px 0;

  &::after {
    content: "";

    position: absolute;
    top: 377px;
    left: 50%;

    width: 536px;
    height: 1px;

    transform: translate(-50%, 0);
    background-color: #000;
  }

  &__hidden {
    display: none;
  }

  &__title {
    margin: 0 0 36px 0;

    color: #000;
    font-size: 16px;
    text-align: center;
  }

  &__flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__btn {
    width: 50px;
    height: 100px;

    background: transparent;
  }

  &__photos {
    margin: 0 328px 20px 328px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img {
    width: 150px;
    height: 150px;
    border-radius: 20px;

    background: #d9d9d9;

    &--dima {
      background-color: red;
    }

    &--artur {
      background-color: green;
    }

    &--maksym {
      background-color: blue;
    }

    &--vlad {
      background-color: yellow;
    }
  }

  &__names {
    margin: 0 0 20px 0;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__student-name {
    color: #000;
    font-size: 14px;
    text-align: center;
  }

  &__work-list {
    margin: 0 0 24px 0;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__work-text {
    color: #000;
    font-size: 12px;
    text-align: center;
  }

  &__list {
    display: flex;
    gap: 6px;
    justify-content: center;
    align-items: center;
  }

  &__page {
    width: 18px;
    height: 3px;
    border-radius: 2px;

    background-color: #d9d9d9;

    &--curr {
      width: 30px;
      height: 3px;

      background-color: #797979;
    }
  }
}
