.backdrop {
  background-color: rgba(0, 0, 0, 0.226);
  backdrop-filter: blur(3px);
  z-index: 999;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  
  align-items: center;
  
  transition: opacity 500ms ease-in-out, visibility 250ms ease-in-out;
}

.is__hidden{
  display: none;
}
.modal-hidden{
  visibility: hidden;
  opacity: 0;
}
.modal-visible{
  visibility: visible;
  opacity: 1;
}
.s__modal {
  width: 576px;
  height: 316px;
  background-color: #fff;
  border-radius: 20px;
  //   overflow: hidden;
  margin-right: auto;
  margin-left: auto;
  padding: 46px 92px;
  position: relative;

  &-text,
  &-name {
    color: #000;
    text-align: center;
    font-size: 12px;
    line-height: normal;
  }

  &-form {
    margin-top: 42px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: center;
  }

  &-input {
    width: 169px;
    padding: 10px 9px 10px 10px;
    border-radius: 20px;
    background: $light-grey-color;

    &::placeholder {
      color: $grey-color;
      font-size: 12px;
      font-weight: 400;
      line-height: normal;
    }
  }

  &-button {
    padding: 10px 20px;
    border-radius: 20px;
    background: #000;
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);

    color: #fff;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
  }

  &-icon {
    width: 30px;
    height: 30px;

    &:first-child,
    &:nth-child(2),
    &:nth-child(3),
    &:last-child {
      position: absolute;
    }

    &:first-child {
      position: absolute;
      top: -110px;
      left: -21px;
    }

    &:nth-child(2) {
      top: -33px;
      left: 0;
    }

    &:nth-child(3) {
      top: -110px;
      right: -21px;
    }

    &:last-child {

      top: -33px;
      right: 0;
    }
  }

  &-box {
    position: relative;
  }

  &-close {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 30px;
    right: 30px;
    background-color: transparent;
  }

  &-cross {
    width: 17px;
    height: 17px;
    fill: #000;
    stroke: #000;

    background-image: url(../images/icon-close.webp);
  }
}

.no-scroll {
  overflow: hidden;
}
